<a href="https://colab.research.google.com/github/HermanMoreno98/Centec_Python/blob/main/Algoritmo_de_distancias_BALLTREE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import BallTree

In [ ]:
df = pd.read_excel("colegios.xlsx")

In [ ]:
df.shape

(96910, 19)

In [ ]:
df_prueba = df[["Código Modular","Latitud","Longitud"]]

In [ ]:
df_prueba

In [ ]:
for column in df_prueba[["Latitud", "Longitud"]]:
    rad = np.deg2rad(df_prueba[column].values)
    df_prueba[f'{column}_rad'] = rad

<ipython-input-15-a860b5e6e0f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[f'{column}_rad'] = rad
<ipython-input-15-a860b5e6e0f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[f'{column}_rad'] = rad

In [ ]:
ball = BallTree(df_prueba[["Latitud_rad", "Longitud_rad"]].values, metric='haversine')
# The amount of neighbors to return.
k = 2
######################## DISTANCIA FINAL ############################
distances, indices = ball.query(df_prueba[["Latitud_rad", "Longitud_rad"]].values, k = k)

In [ ]:
distances, indices = ball.query(df_prueba[["Latitud_rad", "Longitud_rad"]].values, k = 2)

In [ ]:
df_prueba["indices"] = [x[1] for x in indices.tolist()]
df_prueba["distances"] = [x[1] for x in distances.tolist()]

<ipython-input-18-5434206117bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba["indices"] = [x[1] for x in indices.tolist()]
<ipython-input-18-5434206117bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba["distances"] = [x[1] for x in distances.tolist()]

In [ ]:
df_prueba["Código Modular_2"] = np.array(df_prueba.iloc[df_prueba.indices]["Código Modular"])

<ipython-input-19-228592913da2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba["Código Modular_2"] = np.array(df_prueba.iloc[df_prueba.indices]["Código Modular"])

In [ ]:
df_prueba["distancia_metros"] = np.array(df_prueba["distances"])*6371007.1809

<ipython-input-20-14db989d29ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba["distancia_metros"] = np.array(df_prueba["distances"])*6371007.1809

In [ ]:
df_prueba.head()

,Código Modular,Latitud,Longitud,Latitud_rad,Longitud_rad,indices,distances,Código Modular_2,distancia_metros
0,257048,-6.23176,-77.87243,-0.108765,-1.359130,9,0.000008,257337,49.074971
1,257055,-6.23159,-77.87002,-0.108762,-1.359088,7,0.000008,257329,49.927018
2,257097,-6.22700,-77.87552,-0.108682,-1.359184,49,0.000008,1761949,53.848609
3,568097,-6.22935,-77.86464,-0.108723,-1.358994,44,0.000006,1391937,37.825578
4,667576,-6.22584,-77.86802,-0.108661,-1.359053,36,0.000029,1735463,187.742184