<a href="https://colab.research.google.com/github/HermanMoreno98/Centec_Python/blob/main/S02_Libraries_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy

## Limitaciones de las listas

In [ ]:
distancia = [10,15,17,26]
tiempo = [.30, .47, .55, 1.20]

In [ ]:
#Error
velocidad = distancia/tiempo

TypeError: ignored

In [ ]:
#Usando numpy
# Numerical Python (NumPy) soporta arreglos multidimensionales sobre los cuales se pueden aplciar facilmente operaciones matematicas
import numpy as np

In [ ]:
np_distance = np.array(distancia)
np_time = np.array(tiempo)

np_distance / np_time

array([ 9.7 , 14.53, 16.45, 24.8 ])

## Creacion de Arrays

![image.png]()

In [ ]:
np.array([1,3,6,7])

array([1, 3, 6, 7])

In [ ]:
np.array([[1,3,4],[5,7,9]])

array([[1, 3, 4],
       [5, 7, 9]])

In [ ]:
np.array([[[0,1,2],
                     [3,4,5],
                     [6,7,8]],
                    
                    [[9,10,11],
                     [12,13,14],
                     [15,16,17]],
                    
                    [[18,19,20],
                     [21,22,23],
                     [24,25,26]]
                    ])

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [ ]:
# Matriz de ceros
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [ ]:
# Matriz identidad
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
# Arange
print(np.arange(1,10))
print(np.arange(1,10,3))

[1 2 3 4 5 6 7 8 9]
[1 4 7]

In [ ]:
# Linspace
print(np.linspace(0, 10, 100))

In [ ]:
#Numeros aleatorios
print(np.random.random()) #La función random() genera un número decimal entre 0 y 1 (puede generar 0, pero no 1).
print(np.random.randint(10,100)) #La función randint(a, b) genera un número entero entre a y b, ambos incluidos. a debe ser inferior o igual a b.
print(np.random.uniform(10, 100)) #La función uniform(a, b) genera un número decimal entre a y b (puede generar a y, debido a la forma de redondear de Python, puede que genere b o no).

0.6822331554785497
68
75.37891265071666

In [ ]:
#Muestreo 
import random
baraja = [1, 2, 3, 4, 5, 6, 7, 10, 11, 12]
random.sample(baraja, 5)

[7, 5, 3, 12, 11]

## Clases y atributos del ndarray

In [ ]:
np_city = np.array(["NYC","LA","Miami","Houston"])
np_city_with_state = np.array([["NYC","LA","Miami","Houston"],["NY","CA","FL","TX"]])

In [ ]:
print(np_city)
print(np_city_with_state)

['NYC' 'LA' 'Miami' 'Houston']
[['NYC' 'LA' 'Miami' 'Houston']
 ['NY' 'CA' 'FL' 'TX']]

In [ ]:
#ndim: Se refiere al número de ejes(dimensiones) del arreglo o matriz. Es también llamado el rango de la matriz.
print(np_city.ndim)
print(np_city_with_state.ndim)

1
2

In [ ]:
#shape: Tiene como output una tupla de enteros que muestran el tamaño del arreglo en cada dimensión. La longitud del shape tuple es el rango o ndim
#4 filas y 1 columnas
print(np_city.shape)
#2 filas y 4 columnas
print(np_city_with_state.shape)

(4,)
(2, 4)

In [ ]:
#Size: Muestra el número total de elementos del array o matriz. Es igual al producto de elementos del shape tuple
print(np_city.size)
print(np_city_with_state.size)

4
8

## Acceso a los elementos de un array

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
#Acceso al elemento de la fila 2 columna 1
a[1][0]

4

In [ ]:
a[:,0:2]

array([[1, 2],
       [4, 5]])

## Filtrado de elementos de un array

In [ ]:
a = np.array([[1,2,3],[4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
a[a%2==0]

array([2, 4, 6])

In [ ]:
a[(a%2==0)&(a>2)]

array([4, 6])

## Operaciones matematicas con array

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]])
b = np.array([[1, 1, 1], [2, 2, 2]])

In [ ]:
b

array([[1, 1, 1],
       [2, 2, 2]])

In [ ]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
a+b

array([[2, 3, 4],
       [6, 7, 8]])

In [ ]:
a/b

array([[1. , 2. , 3. ],
       [2. , 2.5, 3. ]])

In [ ]:
a**7

array([[     1,    128,   2187],
       [ 16384,  78125, 279936]])

# Pandas

## Series

Series is a one-dimensional array-like object containing data and labels (or index)

|Index|Data|
|-----|----|
|0|4|
|1|11|
|2|21|
|3|36|

Sereis can be created with different data inputs:

* Data Types: Integer, string, python object, floating point
* Data Input: ndarray, dict, scalar, list
* Series: label(index)

### Creando series a partir de una lista

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
lista_1 = list("abcdef")
lista_1

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
lista_1 = lista_1 + ["a","b","c"]
lista_1

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
serie_1 = pd.Series(lista_1)
serie_1

0    a
1    b
2    c
3    d
4    e
5    f
6    a
7    b
8    c
dtype: object

In [ ]:
serie_1.value_counts()

a    2
b    2
c    2
d    1
e    1
f    1
dtype: int64

### Creando series a partir de un array

In [ ]:
np_country = np.array(["Luxemburg","Norway","Jpana","Switzerland","United States","Qatar","Iceland","Sweden","Singapore","Denmark"])
np_country

array(['Luxemburg', 'Norway', 'Jpana', 'Switzerland', 'United States',
       'Qatar', 'Iceland', 'Sweden', 'Singapore', 'Denmark'], dtype='<U13')

In [ ]:
s_country = pd.Series(np_country)
s_country

0        Luxemburg
1           Norway
2            Jpana
3      Switzerland
4    United States
5            Qatar
6          Iceland
7           Sweden
8        Singapore
9          Denmark
dtype: object

### Creando series a partir de un diccionario

In [ ]:
dict_1 = {'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5}
dict_1

{'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5}

In [ ]:
s = pd.Series(dict_1)
s

Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

### Atributos de una serie

In [ ]:
s = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
s

0    1
1    2
2    2
3    3
4    3
5    3
6    4
7    4
8    4
9    4
dtype: int64

In [ ]:
# Size: Devuelve el número de elementos de la serie s.
s.size

10

In [ ]:
# Index: Devuelve una lista con los nombres de las filas del DataFrame s.
s.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
# Dtype: Devuelve el tipo de datos de los elementos de la serie s.
s.dtype

dtype('int64')

### Accesos

In [ ]:
s

0    1
1    2
2    2
3    3
4    3
5    3
6    4
7    4
8    4
9    4
dtype: int64

In [ ]:
# Por posicion
s[3:5]

3    3
4    3
dtype: int64

In [ ]:
# Por indice
s["Programación"]

8.5

In [ ]:
s[['Programación', 'Matemáticas']]

Programación    8.5
Matemáticas     6.0
dtype: float64

### Resumen descriptivo

In [ ]:
s = pd.Series([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
s

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    3
8    3
9    4
dtype: int64

In [ ]:
s.describe()

count    10.000000
mean      2.000000
std       1.054093
min       1.000000
25%       1.000000
50%       2.000000
75%       2.750000
max       4.000000
dtype: float64

In [ ]:
s = pd.Series([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
#Tamaño
print(s.count())
# Suma
print(s.sum())
# Suma acumulada
print(s.cumsum())
# Frecuencias absolutas
print(s.value_counts())
# Frecuencias relativas
print(s.value_counts(normalize=True))
# Minimo
print(s.min())
# Maximo
print(s.max())
# Media
print(s.mean())
# Varianza
print(s.var())
# Desviacion estandar
print(s.std())
# Resumen descriptivo
print(s.describe())

### Operaciones a una serie

In [ ]:
s = pd.Series(['a', 'b', 'c'])
s*5

0    aaaaa
1    bbbbb
2    ccccc
dtype: object

In [ ]:
s = pd.Series([1, 2, 3, 4])
print(s*2)
print(s%2)
s = pd.Series(['a', 'b', 'c'])
print(s*5)

0    2
1    4
2    6
3    8
dtype: int64
0    1
1    0
2    1
3    0
dtype: int64
0    aaaaa
1    bbbbb
2    ccccc
dtype: object

### Aplicar funciones a una serie

In [ ]:
from math import log
s = pd.Series([1, 2, 3, 4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [ ]:
s = pd.Series(['a', 'b', 'c'])
s.apply(str.upper)

0    A
1    B
2    C
dtype: object

### Filtrando una serie

In [ ]:
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5})
s[s>5]

Matemáticas     6.0
Programación    8.5
dtype: float64

### Ordenar una serie

In [ ]:
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5})
print(s.sort_values())
print(s.sort_index(ascending = False))

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64
Programación    8.5
Matemáticas     6.0
Economía        4.5
dtype: float64

### ELiminar datos perdidos

In [ ]:
s = pd.Series(['a', 'b', None, 'c', np.NaN,  'd'])
s

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [ ]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object

## DataFrame

DataFrame is two-dimensional labeled data structure with columns of potentially different types

* Data Types: integer, string, python object, floating point
* Data Input: ndarray, dict, list, series, dataframa
* DataFrame

|index|column1|column2|
|-----|-------|-------|
|0|5|2|
|1|8|3|
|2|10|8|
|3|1|4|

### DataFrame a partir de un diccionario de listas

In [ ]:
#Create dataframe from dict of equal length lists
olympic_data_list = {
    "HostCity":["London","Beijing","Athens","Sydney","Atlanta"],
    "Year":[2012,2008,2004,2000,1996],
    "No. of Participating Countries":[205,204,201,200,197]
}
olympic_data_list

{'HostCity': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'],
 'Year': [2012, 2008, 2004, 2000, 1996],
 'No. of Participating Countries': [205, 204, 201, 200, 197]}

In [ ]:
df_olympic_data = pd.DataFrame(olympic_data_list)
df_olympic_data

  HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197

### DataFrame a partir de una lista de listas

In [ ]:
df = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen', 20]], columns=['Nombre', 'Edad'])
df

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

### DataFrame a partir de una lista de diccionarios

In [ ]:
df = pd.DataFrame([{'Nombre':'María', 'Edad':18}, {'Nombre':'Luis', 'Edad':22}, {'Nombre':'Carmen'}])
df

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

### DataFrame a partir de un array

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
print(df)

          a         b         c
0 -0.084005 -0.032273  0.060865
1 -0.819387 -0.470663  0.199764
2 -0.982625 -1.811272  0.005108
3  1.696843 -0.224258  0.880941

### DataFrame a partir de un csv

In [ ]:
url = 'https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesteroles.csv'
df = pd.read_csv(url, sep=';', decimal=',')

In [ ]:
# Exportante fichero csv
df.to_csv("prueba_2.csv")

In [ ]:
df.head()

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes

### Atributos de un dataframe

In [ ]:
df = pd.read_csv(
'https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
print("***********************")
print("Informacion del dataset")
print("***********************")
print(df.info())
print("***********************")
print("Cantidad datos totales")
print("***********************")
print(df.size)
print("***********************")
print("Columnas del dataset")
print("***********************")
print(df.columns)
print("***********************")
print("Indices del dataset")
print("***********************")
print(df.index)

***********************
Informacion del dataset
***********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes
None
***********************
Cantidad de filas y columnas del dataset
***********************
84
***********************
Columnas del dataset
***********************
Index(['nombre', 'edad', 'sexo', 'peso', 'altura', 'colesterol'], dtype='object')
***********************
Indices del dataset
***********************
RangeIndex(start=0, stop=14, step=1)

### Renombrar los nombres de las filas y columas

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df.head()

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [ ]:
df.rename(columns={
    "nombre":"nombre_nuevo",
    "edad":"edad_nuevo",
    "peso":"peso_nuevo"
},inplace=True)

In [ ]:
df.rename(columns={
    "nombre":"nombre y apellido",
    "edad":"edades",
    "altura":"estatura"
},inplace=True)

In [ ]:
df.head()

              nombre y apellido  edades sexo  peso  estatura  colesterol
0  José Luis Martínez Izquierdo      18    H  85.0      1.79       182.0
1                Rosa Díaz Díaz      32    M  65.0      1.73       232.0
2         Javier García Sánchez      24    H   NaN      1.81       191.0
3           Carmen López Pinzón      35    M  65.0      1.70       200.0
4          Marisa López Collado      46    M  51.0      1.58       148.0

### Cambiar el indice de un dataframe

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
df_1 = df.set_index("nombre")

In [ ]:
df_1

In [ ]:
df_1.reset_index(inplace=True)

### Acceso a los elementos de un dataframe

In [ ]:
# Mediante posicion
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
df[["sexo","peso"]]

In [ ]:
df.loc[:,["sexo","peso"]]

In [ ]:
df.loc[(df["sexo"]=="H")]

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0

In [ ]:
#iloc[filas, columnas]
df.iloc[1, 3]

65.0

In [ ]:
df.iloc[1,0:2]

nombre    Rosa Díaz Díaz
edad                  32
Name: 1, dtype: object

In [ ]:
#Mediante nombre de columns
df.loc[2,"colesterol"]

191.0

In [ ]:
df.loc[:3,["colesterol","peso"]]

   colesterol  peso
0       182.0  85.0
1       232.0  65.0
2       191.0   NaN
3       200.0  65.0

In [ ]:
df["colesterol"]

0     182.0
1     232.0
2     191.0
3     200.0
4     148.0
5     249.0
6     276.0
7       NaN
8     241.0
9     280.0
10    262.0
11    198.0
12    210.0
13    194.0
Name: colesterol, dtype: float64

### Operaciones con las columnas de un dataframe

In [ ]:
#Añadir columnas
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df['diabetes'] = pd.Series([False, False, True, False, True])
df

,nombre,edad,sexo,peso,altura,colesterol,diabetes
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,False
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,False
2,Javier García Sánchez,24,H,NaN,1.81,191.0,True
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,False
4,Marisa López Collado,46,M,51.0,1.58,148.0,True
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,NaN
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,NaN
7,Pilar Martín González,22,M,60.0,1.66,NaN,NaN
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,NaN
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,NaN
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,NaN
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,NaN
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,NaN
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,NaN

In [ ]:
#Operaciones
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')

In [ ]:
df['altura_X_100'] = df['altura']*100

In [ ]:
df.head()

,nombre,edad,sexo,peso,altura,colesterol,altura_X_100
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,179.0
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,173.0
2,Javier García Sánchez,24,H,NaN,1.81,191.0,181.0
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,170.0
4,Marisa López Collado,46,M,51.0,1.58,148.0,158.0

In [ ]:
df["edad_nueva"] = df["edad"] + 20
df.head()

,nombre,edad,sexo,peso,altura,colesterol,altura_X_100,edad_nueva
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,179.0,38
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,173.0,52
2,Javier García Sánchez,24,H,NaN,1.81,191.0,181.0,44
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,170.0,55
4,Marisa López Collado,46,M,51.0,1.58,148.0,158.0,66

In [ ]:
df_1 = df[["nombre","edad","sexo"]]
df_1.head()

                         nombre  edad sexo
0  José Luis Martínez Izquierdo    18    H
1                Rosa Díaz Díaz    32    M
2         Javier García Sánchez    24    H
3           Carmen López Pinzón    35    M
4          Marisa López Collado    46    M

In [ ]:
#Eliminar columnas de un dataframe
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
print(df.drop([1, 3]))

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

### Filtrar fials de un dataframe

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df.head()

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [ ]:
print(df[(df['sexo']=='H') & (df['colesterol'] > 260)])

                    nombre  edad sexo  peso  altura  colesterol
6  Antonio Fernández Ocaña    51    H  62.0    1.72       276.0
9  Santiago Reillo Manzano    46    H  75.0    1.85       280.0

### Eliminar filas de datos perdidos

In [ ]:
df.dropna()

,nombre,edad,sexo,peso,altura,colesterol,altura_X_100,edad_nueva
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,179.0,38
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,173.0,52
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,170.0,55
4,Marisa López Collado,46,M,51.0,1.58,148.0,158.0,66
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,174.0,88
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,172.0,71
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,194.0,55
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,185.0,66
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,162.0,73
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,187.0,78
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,198.0,47
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,177.0,40

In [ ]:
df.dropna(subset=["nombre","edad"])

,nombre,edad,sexo,peso,altura,colesterol,altura_X_100,edad_nueva
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,179.0,38
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,173.0,52
2,Javier García Sánchez,24,H,NaN,1.81,191.0,181.0,44
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,170.0,55
4,Marisa López Collado,46,M,51.0,1.58,148.0,158.0,66
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,174.0,88
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,172.0,71
7,Pilar Martín González,22,M,60.0,1.66,NaN,166.0,42
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,194.0,55
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,185.0,66
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,162.0,73
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,187.0,78
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,198.0,47
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,177.0,40

In [ ]:
promedio_peso = df["peso"].mean()
promedio_peso

70.92307692307692

In [ ]:
int(promedio_peso)

70

In [ ]:
round(promedio_peso,0)

71.0

In [ ]:
df.fillna(int(promedio_peso))

In [ ]:
pr

### Data Operation

In [ ]:
df_movie_rating = pd.DataFrame({
    "movie_1":[5,4,3,3,2,1],
    "movie_2":[4,5,2,3,4,2]},
    index=["Tom","Jeff","Peter","Ram","Ted","Paul"]
)
df = df_movie_rating
df.head()

       movie_1  movie_2
Tom          5        4
Jeff         4        5
Peter        3        2
Ram          3        3
Ted          2        4

In [ ]:
def movie_grade(rating):
  if rating==5:
    return "A"
  elif rating==4:
    return "B"
  elif rating==3:
    return "C"
  else:
    return "F"

In [ ]:
df["movie_2_function"] = df["movie_2"].apply(lambda x: movie_grade(x))
df

       movie_1  movie_2 movie_2_function
Tom          5        4                B
Jeff         4        5                A
Peter        3        2                F
Ram          3        3                C
Ted          2        4                B
Paul         1        2                F

In [ ]:
#Test the function
print(movie_grade(5))

A

In [ ]:
#Apply the function to the dataframe
df = df_movie_rating.applymap(movie_grade)

In [ ]:
df_movie_rating.movie_1.apply(lambda x: movie_grade(x))

Tom      A
Jeff     B
Peter    C
Ram      C
Ted      F
Paul     F
Name: movie_1, dtype: object

In [ ]:
lista = [1,2,3,4,5,6,7,8,9]

In [ ]:
for x in lista:
  if x%2!=0:
    print(x)

1
3
5
7
9

In [ ]:
[x for x in lista if x%2!=0]

[1, 3, 5, 7, 9]

In [ ]:
#List comprehension
[movie_grade(x) for x in df['movie_1']]

['A', 'B', 'C', 'C', 'F', 'F']

In [ ]:
df

      movie_1 movie_2 movie_2_function
Tom         A       B                F
Jeff        B       A                F
Peter       C       F                F
Ram         C       C                F
Ted         F       B                F
Paul        F       F                F

In [ ]:
for x,y in zip(df_movie_rating['movie_1'],df_movie_rating['movie_2']):
  print(movie_grade(x))
  print(movie_grade(y))

A
B
B
A
C
F
C
C
F
B
F
F

In [ ]:
[(movie_grade(x),movie_grade(y)) for x,y in zip(df_movie_rating['movie_1'],df_movie_rating['movie_2'])]

[('A', 'B'), ('B', 'A'), ('C', 'F'), ('C', 'C'), ('F', 'B'), ('F', 'F')]

In [ ]:
df_test_scores = pd.DataFrame({
    "Test1":[95,84,73,88,82,61],
    "Test2":[74,85,82,73,77,79]
},index=["Jack","Lewis","Patrick","Rich","Kelly","Paula"])

In [ ]:
df_test_scores.max()

Test1    95
Test2    85
dtype: int64

In [ ]:
df_test_scores.min()

Test1    61
Test2    73
dtype: int64

#### Apply()

In [ ]:
# importing pandas as pd
import pandas as pd
 
# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
 
# Print the dataframe
print(df)

# using apply function to create a new column
df['Discounted_Price'] = df.apply(lambda row: row.Cost -
                                  (row.Cost * 0.1), axis = 1)
 
# Print the DataFrame after addition
# of new column
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

In [ ]:
import pandas as pd
 
# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
 
# Create a new column 'Discounted_Price' after applying
# 10% discount on the existing 'Cost' column.
 
# create a new column
df['Discounted_Price'] = df['Cost'] - (0.1 * df['Cost'])
 
# Print the DataFrame after
# addition of new column
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

#### Map()

In [ ]:
data = {
    "name": ["John", "Ted", "Dev", "Brad", "Rex", "Smith", "Samuel", "David"],
    "salary": [10000, 20000, 50000, 45500, 19800, 95000, 5000, 50000]
}
# create dataframe from data dictionary
df = pd.DataFrame(data)
# print the dataframe
df.head()

   name  salary
0  John   10000
1   Ted   20000
2   Dev   50000
3  Brad   45500
4   Rex   19800

In [ ]:
def salary_stats(value):
    if value < 10000:
        return "very low"
    elif 10000 <= value < 25000:
        return "low"
    elif 25000 <= value < 40000:
        return "average"
    elif 40000 <= value < 50000:
        return "better"
    elif value >= 50000:
        return "very good"

In [ ]:
df["salary"].apply(lambda x: salary_stats(x))

0          low
1          low
2    very good
3       better
4          low
5    very good
6     very low
7    very good
Name: salary, dtype: object

In [ ]:
df["salary"].map(salary_stats)

0          low
1          low
2    very good
3       better
4          low
5    very good
6     very low
7    very good
Name: salary, dtype: object

In [ ]:
df['salary_stats'] = df['salary'].map(salary_stats)
df.head()

   name  salary salary_stats
0  John   10000          low
1   Ted   20000          low
2   Dev   50000    very good
3  Brad   45500       better
4   Rex   19800          low

#### List comprehension

In [ ]:
# importing pandas as pd
import pandas as pd
 
# Creating the dataframe
df = pd.DataFrame({'Date' : ['11/8/2011', '11/9/2011', '11/10/2011',
                                        '11/11/2011', '11/12/2011'],
                'Event' : ['Music', 'Poetry', 'Music', 'Comedy', 'Poetry']})
 
# Print the dataframe
print(df)

         Date   Event
0   11/8/2011   Music
1   11/9/2011  Poetry
2  11/10/2011   Music
3  11/11/2011  Comedy
4  11/12/2011  Poetry

In [ ]:
df

         Date   Event
0   11/8/2011   Music
1   11/9/2011  Poetry
2  11/10/2011   Music
3  11/11/2011  Comedy
4  11/12/2011  Poetry

In [ ]:
def clasificacion_event(x):
  if x=="Music":
    return 1500
  else:
    return 800

In [ ]:
df["Price"] = df["Event"].apply(lambda x: clasificacion_event(x))
df.head()

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011  Comedy    800
4  11/12/2011  Poetry    800

In [ ]:
df["Price_2"] = [1500 if x=="Music" else 800 for x in df["Event"]]
df.head()

         Date   Event  Price  Price_2
0   11/8/2011   Music   1500     1500
1   11/9/2011  Poetry    800      800
2  11/10/2011   Music   1500     1500
3  11/11/2011  Comedy    800      800
4  11/12/2011  Poetry    800      800

In [ ]:
df["Price"] = [1500 if x=="Music" else 800 for x in df["Event"]]
df

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011  Comedy    800
4  11/12/2011  Poetry    800

#### Lambda Function

In [ ]:
lambda_func = lambda x: x**2 # Funcion que recoge un número entero y devuelve su cuadrado
lambda_func(3) # Retorna 9

9

In [ ]:
lambda_func = lambda x: True if x**2 >= 10 else False
lambda_func(3) # Retorna False
lambda_func(4) # Retorna True

True

#### Replacing Values

In [ ]:
df

         Date   Event  Price  Price_2
0   11/8/2011   Music   1500     1500
1   11/9/2011  Poetry    800      800
2  11/10/2011   Music   1500     1500
3  11/11/2011  Comedy    800      800
4  11/12/2011  Poetry    800      800

In [ ]:
df["Price_3"]=df["Price"].replace(800,200)
df

         Date   Event  Price  Price_2  Price_3
0   11/8/2011   Music   1500     1500     1500
1   11/9/2011  Poetry    800      800      200
2  11/10/2011   Music   1500     1500     1500
3  11/11/2011  Comedy    800      800      200
4  11/12/2011  Poetry    800      800      200

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

### Dividir un dataframe en grupos

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
df.head()

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [ ]:
df.groupby('sexo').groups

{'H': [0, 2, 5, 6, 8, 9, 11, 12], 'M': [1, 3, 4, 7, 10, 13]}

In [ ]:
df.loc[df["sexo"]=="M"]

                   nombre  edad sexo  peso  altura  colesterol
1          Rosa Díaz Díaz    32    M  65.0    1.73       232.0
3     Carmen López Pinzón    35    M  65.0    1.70       200.0
4    Marisa López Collado    46    M  51.0    1.58       148.0
7   Pilar Martín González    22    M  60.0    1.66         NaN
10  Macarena Álvarez Luna    53    M  55.0    1.62       262.0
13  Carolina Rubio Moreno    20    M  61.0    1.77       194.0

In [ ]:
df.groupby('sexo').agg({
    'peso':'mean',
    'altura':'max'
})

           peso  altura
sexo
H     80.714286    1.98
M     59.500000    1.77

In [ ]:
df.describe(include="all")

,nombre,edad,sexo,peso,altura,colesterol
count,14,14.000000,14,13.000000,14.000000,13.000000
unique,14,NaN,2,NaN,NaN,NaN
top,José Luis Martínez Izquierdo,NaN,H,NaN,NaN,NaN
freq,1,NaN,8,NaN,NaN,NaN
mean,NaN,38.214286,NaN,70.923077,1.768571,220.230769
std,NaN,15.621379,NaN,16.126901,0.115016,39.847948
min,NaN,18.000000,NaN,51.000000,1.580000,148.000000
25%,NaN,24.750000,NaN,61.000000,1.705000,194.000000
50%,NaN,35.000000,NaN,65.000000,1.755000,210.000000
75%,NaN,49.750000,NaN,78.000000,1.840000,249.000000
max,NaN,68.000000,NaN,109.000000,1.980000,280.000000

In [ ]:
print(df.groupby('sexo').groups)

{'H': [0, 2, 5, 6, 8, 9, 11, 12], 'M': [1, 3, 4, 7, 10, 13]}

In [ ]:
df.groupby('sexo').get_group("M")

                   nombre  edad sexo  peso  altura  colesterol
1          Rosa Díaz Díaz    32    M  65.0    1.73       232.0
3     Carmen López Pinzón    35    M  65.0    1.70       200.0
4    Marisa López Collado    46    M  51.0    1.58       148.0
7   Pilar Martín González    22    M  60.0    1.66         NaN
10  Macarena Álvarez Luna    53    M  55.0    1.62       262.0
13  Carolina Rubio Moreno    20    M  61.0    1.77       194.0

In [ ]:
df.groupby('sexo').agg(np.mean)

<ipython-input-131-f5abd13c8c5a>:1: FutureWarning: The operation <function mean at 0x7f2e73675360> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  df.groupby('sexo').agg(np.mean)

           edad       peso    altura  colesterol
sexo
H     40.875000  80.714286  1.837500     228.375
M     34.666667  59.500000  1.676667     207.200

In [ ]:
tabla = df.groupby('sexo').agg({
    'peso':'max',
    'altura':'mean'
})

In [ ]:
tabla["altura"] = round(tabla["altura"],2)
tabla

       peso  altura
sexo
H     109.0    1.84
M      65.0    1.68

In [ ]:
tabla.to_excel("tabla_resumen.xlsx")

### Reestructurad un dataframe

![image.png]()

In [ ]:
# DataFrame a formato largo
datos = {'nombre':['María', 'Luis', 'Carmen'],
  'edad':[18, 22, 20],
  'Matemáticas':[8.5, 7, 3.5],
  'Economía':[8, 6.5, 5],
  'Programación':[6.5, 4, 9]}
df = pd.DataFrame(datos)
df.head()

   nombre  edad  Matemáticas  Economía  Programación
0   María    18          8.5       8.0           6.5
1    Luis    22          7.0       6.5           4.0
2  Carmen    20          3.5       5.0           9.0

In [ ]:
df1 = df.melt(id_vars=['nombre', 'edad'], var_name='asignatura', value_name='nota')
df1

   nombre  edad    asignatura  nota
0   María    18   Matemáticas   8.5
1    Luis    22   Matemáticas   7.0
2  Carmen    20   Matemáticas   3.5
3   María    18      Economía   8.0
4    Luis    22      Economía   6.5
5  Carmen    20      Economía   5.0
6   María    18  Programación   6.5
7    Luis    22  Programación   4.0
8  Carmen    20  Programación   9.0

In [ ]:
# DataFrame a formato ancho
df1.pivot(index='nombre', columns='asignatura', values='nota')

asignatura  Economía  Matemáticas  Programación
nombre
Carmen           5.0          3.5           9.0
Luis             6.5          7.0           4.0
María            8.0          8.5           6.5

### Combinar varios dataframes

In [ ]:
df1 = pd.DataFrame({"Nombre":["Carmen", "Luis"], 
  "Sexo":["Mujer", "Hombre"], "Edad":[22, 18]}).set_index("Nombre")
df2 = pd.DataFrame({"Nombre":["María", "Pedro"], 
  "Sexo":["Mujer", "Hombre"], "Edad":[25, 30]}).set_index("Nombre")
df = pd.concat([df1, df2])
df1

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18

In [ ]:
df1

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18

In [ ]:
df2

          Sexo  Edad
Nombre
María    Mujer    25
Pedro   Hombre    30

In [ ]:
pd.concat([df1,df2])

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18
María    Mujer    25
Pedro   Hombre    30

In [ ]:
df1 = pd.DataFrame({"Nombre":["Carmen", "Luis", "María"],  "Sexo":["Mujer", "Hombre", "Mujer"]})
df2 = pd.DataFrame({"Nombre":["María", "Pedro", "Luis"], "Edad":[25, 30, 18]})

In [ ]:
df1.rename(columns={'Nombre':'Nombre_1'},inplace=True)

In [ ]:
df1

   Nombre    Sexo
0  Carmen   Mujer
1    Luis  Hombre
2   María   Mujer

In [ ]:
df2

  Nombre  Edad
0  María    25
1  Pedro    30
2   Luis    18

In [ ]:
pd.merge(df1,df2,on="Nombre",how="left",indicator=True)

   Nombre    Sexo  Edad     _merge
0  Carmen   Mujer   NaN  left_only
1    Luis  Hombre  18.0       both
2   María   Mujer  25.0       both